.hero{
    background-image: url('../images/blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    color: #550db4;
}

.card-title{
    color: #ba8002;
}

.index{
    margin-top: 20px;
}
